<html>
<head>
  <title>baby-schedule</title>
  <link rel="stylesheet" type="text/css" href="styles.css" />  
  <link rel="stylesheet" type="text/css" href="hour.css">
  <script src="jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="scripts.js" type="text/javascript"></script>
</head>
<body>
  <div id="sleepToggle" class="toggle sleep">Sleep</div>
  <div id="bottleToggle" class="toggle bottle">Bottle</div>
  <div id="nurseToggle" class="toggle nurse">Nurse</div>
  <div id="diaperToggle" class="toggle diaper">Diaper</div>

  <div style="clear: both"></div>

  <div class="container">
    <div class="hour1">1a</div>
    <div class="hour2">2a</div>
    <div class="hour3">3a</div>
    <div class="hour4">4a</div>
    <div class="hour5">5a</div>
    <div class="hour6">6a</div>
    <div class="hour7">7a</div>
    <div class="hour8">8a</div>
    <div class="hour9">9a</div>
    <div class="hour10">10a</div>
    <div class="hour11">11a</div>
    <div class="highlightedHour hour12">12p</div>
    <div class="hour13">1p</div>
    <div class="hour14">2p</div>
    <div class="hour15">3p</div>
    <div class="hour16">4p</div>
    <div class="hour17">5p</div>
    <div class="highlightedHour hour18">6p</div>
    <div class="hour19">7p</div>
    <div class="hour20">8p</div>
    <div class="hour21">9p</div>
    <div class="hour22">10p</div>
    <div class="hour23">11p</div>
  
    <div class="hourHeaderSpacer">&nbsp;</div>

    <% for @date in @dates %>
    <div class="day">
      <div class="date"><%= @date.date %></div>
      <% for @event in @date.events %>
      <div class="event <%= @event.type %>" style="left: <%= @event.start %>; width: <%= @event.length %>"></div>
      <% end %>
    </div>
    <% end %>
  </div>
</body>
</html>
