body {
  overflow:auto;
}

.container {
  position: relative;
  height: auto;
  margin: 20px;
  width: 98%;
  border: 1px solid black;
}

.scrollContainer {
  overflow:scroll;
}

.hourHeaderSpacer {
  position: relative;
  clear: both;
  height: 14px;
}

.day {
  position: relative;
  clear: both;
  height: 35px;
  border-bottom: 1px solid #bbb;
}

.event {
  height: 35px;  
  position: absolute;
  top: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.toggle {
  float: left;
  color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.higlightedHour {
  border-left: solid 2px black; 
}

.sleep {
  background-color: blue;
  opacity: 0.6;
}

.nurse {
  background-color: red;
  opacity: 0.6;
}

.diaper {
  background-color: black;
  opacity: 0.6;
}

.bottle {
  background-color: green;
  opacity: 0.6;
}

.date {
  position: absolute;
  top: 8px;
  left: -25px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
}
